<div style="text-align: center;">
     <h1> App Component </h1>

    <!-- Angular-Assi-8-Q3 -->

    <!-- <input type="text" [(ngModel)]="userName">

    <h3> {{"Data From App.ts File : " + userName }} </h3>
    
    <h3> {{" and Length of String is : " + userName.length}} </h3> -->

    <input #box (keyup)="$event">
    <h3>{{"without using ngModel directive : " + box.value +" "+ box.value.length}}</h3>
</div>


























<!-- Angular-Assi-8-Q1

    <h1> Inside Parent Component </h1>

    <app-child (myTextbox)="msg = ($event)"></app-child>

    <h3> {{"Message From Child is Component : "+ msg}} </h3>
 -->



 <!-- Angular-Assi-8-Q2

     <app-child [parentData]="msg1" (str)="msg = ($event)"></app-child>

    <h3> {{"Message Child Component : " + msg}} </h3>
  -->